<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>

    <link href="@Favicon" rel="icon">

    <style type="text/css">
        @@font-face {
            font-family: 'DIN 2014 Demi';
            src: url(https://fusehostelsandtravel.azureedge.net/assets/din2014-demi-webfont.woff2) format('woff2'),url(https://fusehostelsandtravel.azureedge.net/assets/din2014-demi-webfont.woff) format('woff');
            font-weight: 400;
            font-style: normal;
            font-display: swap
        }
        
        @@font-face {
            font-family: 'DIN 2014 Narrow';
            src: url(https://fusehostelsandtravel.azureedge.net/assets/din2014-narrow-webfont.woff2) format('woff2'),url(https://fusehostelsandtravel.azureedge.net/assets/din2014-narrow-webfont.woff) format('woff');
            font-weight: 400;
            font-style: normal;
            font-display: swap
        }
        
        @@font-face {
            font-family: 'DIN 2014 Narrow Bold';
            src: url(https://fusehostelsandtravel.azureedge.net/assets/din2014-narrowbold-webfont.woff2) format('woff2'),url(https://fusehostelsandtravel.azureedge.net/assets/din2014-narrowbold-webfont.woff) format('woff');
            font-weight: 400;
            font-style: normal;
            font-display: swap
        }
        
        @@font-face {
            font-family: 'DIN 2014 Narrow Demi';
            src: url(https://fusehostelsandtravel.azureedge.net/assets/din2014-narrowdemi-webfont.woff2) format('woff2'),url(https://fusehostelsandtravel.azureedge.net/assets/din2014-narrowdemi-webfont.woff) format('woff');
            font-weight: 400;
            font-style: normal
        }
        
        @@font-face {
            font-family: 'DIN 2014 Narrow Extra Light';
            src: url(https://fusehostelsandtravel.azureedge.net/assets/din2014-narrowextralight-webfont.woff2) format('woff2'),url(https://fusehostelsandtravel.azureedge.net/assets/din2014-narrowextralight-webfont.woff) format('woff');
            font-weight: 400;
            font-style: normal;
            font-display: swap
        }
        
        @@font-face {
            font-family: 'DIN 2014 Regular';
            src: url(https://fusehostelsandtravel.azureedge.net/assets/din2014-regular-webfont.woff2) format('woff2'),url(https://fusehostelsandtravel.azureedge.net/assets/din2014-regular-webfont.woff) format('woff');
            font-weight: 400;
            font-style: normal;
            font-display: swap
        }
        
        @@font-face {
            font-family: 'DIN 2014 Bold';
            src: url(https://fusehostelsandtravel.azureedge.net/assets/din2014-bold-webfont.woff2) format('woff2'),url(https://fusehostelsandtravel.azureedge.net/assets/din2014-bold-webfont.woff) format('woff');
            font-weight: 400;
            font-style: normal;
            font-display: swap
        }
    </style>
    
    @* <link rel="preconnect" href="https://fonts.googleapis.com"> *@
    @* <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> *@
    @* $1$ <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> #1# *@
    @* $1$ <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Freeman&display=swap" rel="stylesheet"> #1# *@
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    
    <link rel="stylesheet" href="app.css"/>
    <HeadOutlet @rendermode="RenderModeForPage"/>
</head>

<body>
<Routes @rendermode="RenderModeForPage"/>
<script src="_framework/blazor.web.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
<script>
     navigator.serviceWorker.register('/service-worker.js')
            .then(registration => {
                console.info(`Service worker registration successful (scope: ${registration.scope})`);
            })
            .catch(error => {
                console.error('Service worker registration failed with error:', error);
                reject(error);
            });

     
     function uploadMCEImage(blobInfo, success, failure, progress) {
         DotNet.invokeMethodAsync('Travaloud.Admin', 'UploadMceImageHandler', blobInfo.base64(), blobInfo.filename())
           .then(data => {
            success(data);
           });
     }
     
     window.mceStyle = {
                 content_style: "@@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); body { color: var(--mud-palette-text-primary) !important; font-family: 'Be Vietnam Pro', sans-serif; font-weight:400; } h1, h2, h3, h4, h5, h6 {font-weight:900; } h1,h2,h3,h4,h5,h6 { font-family: 'Be Vietnam Pro', sans-serif;",
                 font_formats: 'Bebas Neue=bebasneue;Roboto=roboto;',
                 toolbar: 'undo redo | formatselect styles | bold italic | link | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | image | preview',
                 plugins: 'image,preview',
                 menubar: 'edit format insert',
                 block_formats: 'Paragraph=p; Heading 4=h4; Heading 5=h5; Heading 6=h6',
                 format:'bold italic underline strikethrough superscript subscript codeformat | formats blockformats fontformats fontsizes align | forecolor backcolor | removeformat',
                 paste_data_images: true,
                 file_picker_types: 'image',
                 automatic_uploads: false,
                 images_upload_handler: uploadMCEImage,
                 branding: false,
                 height: 500
             }

     async function downloadFileFromStream(fileName, contentStreamReference) {
                const arrayBuffer = await contentStreamReference.arrayBuffer();
                const blob = new Blob([arrayBuffer]);
                const url = URL.createObjectURL(blob);
    
                triggerFileDownload(fileName, url);
    
                URL.revokeObjectURL(url);
            }
    
            function triggerFileDownload(fileName, url) {
                const anchorElement = document.createElement('a');
                anchorElement.href = url;
                anchorElement.download = fileName ?? '';
                anchorElement.click();
                anchorElement.remove();
            }
</script>

@if (IsServerPage)
{
    <script src="app.js"></script>
}

</body>

</html>

@code {

    private bool IsServerPage => HttpContextAccessor is {HttpContext: not null} && (HttpContextAccessor.HttpContext.Request.Path.StartsWithSegments("/account/login")
                                                                                    || HttpContextAccessor.HttpContext.Request.Path.StartsWithSegments("/account/forgot-password")
                                                                                    || HttpContextAccessor.HttpContext.Request.Path.StartsWithSegments("/account/reset-password")
                                                                                    || HttpContextAccessor.HttpContext.Request.Path.StartsWithSegments("/account/forgot-password-confirmation")
                                                                                    || HttpContextAccessor.HttpContext.Request.Path.StartsWithSegments("/account/reset-password-confirmation"));

    private IComponentRenderMode? RenderModeForPage => IsServerPage ? null : InteractiveServer;
    private TravaloudTenantInfo? TenantInfo => MultiTenantContextAccessor.MultiTenantContext?.TenantInfo;
    private string Favicon => !string.IsNullOrEmpty(TenantInfo?.LogoImageUrl) ? TenantInfo.LogoImageUrl : "https://ik.imagekit.io/rqlzhe7ko/travaloud-logo.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1677654151281";
}