@model GenericBannerComponent

<div class="container-fluid p-0 m-0 position-relative">
    <div class="container pt-8 pb-8 text-center ovals-container-parent">
        <div class="row justify-content-lg-center has-parallax-scroll">
            <div class="col-12">
                <h2>@Html.Raw(Model.Title)</h2>
            </div>
            <div class="col-12 col-lg-6">
                <p class="m-0 p-0">@Html.Raw(Model.Body)</p>
            </div>
        </div>
    </div>

    @if (Model.OvalContainers != null && Model.OvalContainers.Any())
    {
        @Html.DisplayFor(x => x.OvalContainers)
    }
</div>

