@page "/account/forgot-password-confirmation"

@attribute [AllowAnonymous]

@inject IStringLocalizer<ForgotPasswordConfirmation> L

<PageTitle>Forgot password confirmation</PageTitle>

<div class="d-flex justify-center">
    <MudImage Src="@(TenantInfo?.LogoImageUrl ?? "https://ik.imagekit.io/rqlzhe7ko/travaloud-logo.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1677654151281")" Height="120"/>
</div>
<div class="fsh-center-text">
    <MudText Typo="Typo.h5" Class="mt-3" GutterBottom="true">@L["Forgot password confirmation"]</MudText>
    <MudText>
        @L["Please check your email to reset your password."]
    </MudText>
</div>

@code {

    [CascadingParameter] private TravaloudTenantInfo? TenantInfo { get; set; }

}