@page "/account/reset-password-confirmation"
<PageTitle>Reset password confirmation</PageTitle>
@attribute [AllowAnonymous]

@inject IStringLocalizer<ResetPasswordConfirmation> L

<div class="d-flex justify-center">
    <MudImage Src="@(TenantInfo?.LogoImageUrl ?? "https://ik.imagekit.io/rqlzhe7ko/travaloud-logo.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1677654151281")" Height="120"/>
</div>
<div class="fsh-center-text">
    <MudText Typo="Typo.h5" Class="mt-3" GutterBottom="true">@L["Reset password confirmation"]</MudText>
    <MudText>
        @L["Your password has been reset."]
    </MudText>
    <MudButton Href="/account/login" Variant="Variant.Filled" Color="Color.Primary">Click Here to Log In</MudButton>
</div>

@code {

    [CascadingParameter] private TravaloudTenantInfo? TenantInfo { get; set; }

}