.travaloud-appbar-filter {
    backdrop-filter: blur(12px);
    z-index: calc(var(--mud-zindex-appbar) + 1);
    background:transparent;
}

.travaloud-nam-appbar-brand span {
    font-size:1.75rem;
    font-weight:900;
}
.tinymce-wrapper.invalid {
    border: 1px solid var(--mud-palette-error)!important;
}

.mud-input-label { font-weight:400;}

.fsh-center-text {
    text-align: center !important;
}

.mud-button-filled {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 30%), 0 2px 2px 0 rgb(0 0 0 / 0), 0 1px 5px 0 rgb(0 0 0 / 10%) !important;
}

.mud-dialog {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 10%), 0 2px 2px 0 rgb(0 0 0 / 0), 0 10px 10px 0 rgb(0 0 0 / 5%) !important;
}

.mud-nav-link {
    white-space: normal !important;
    font-family: 'Bebas Neue';
    letter-spacing: 0.02rem;
    padding-top:12px;
    padding-bottom:12px;
}

.mud-avatar.mud-avatar-small { font-family: 'Bebas Neue';}

.mud-nav-link.active:not(.mud-nav-link-disabled) {
    border-right: 3px solid var(--mud-palette-primary);
    background-color: rgba(var(--mud-palette-primary-rgb), 0.1);
}

.mud-nav-link .mud-nav-link-text { letter-spacing: unset;}

.mud-table {
    padding: 20px !important;
    margin-bottom: 20px !important;
}

.mud-card {
    margin-bottom: 20px !important;
}

#blazor-error-ui {
    color: var(--mud-palette-drawer-text);
    background: var(--mud-palette-drawer-background);
}

.mud-overlay-dark {
    backdrop-filter: blur(2px);
}

.mud-card-header .mud-card-header-avatar {
    margin-inline-end: 10px !important;
}


/*.mud-dialog-content {*/
/*    max-height: 85vh !important;*/
/*    overflow-y: auto !important;*/
/*    overflow-x:hidden !important;*/
/*}*/

.mud-grid-spacing-xs-3 {
    margin: 0px !important;
    margin-left: -12px !important;
}

.mud-table-toolbar
{
    flex-wrap:wrap;
    margin-bottom:20px!important;
    padding:0px !important;
    height:auto !important;
}

::-webkit-scrollbar {
    width: 2px!important;
    height: 6px!important;
}
.fsh-nav-child {
    padding-left: 10px !important;
}

.mud-text-editor-container {
    position: relative;
    color: var(--mud-palette-text-primary);
    cursor: text;
    font-size: 1rem;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.1876em;
    padding-top:45px;
    letter-spacing: .00938em;
}

/*.tox {

    z-index:100001 !important;
}
*/
.fixed-stepper {
    position: relative;
}

.mud-dialog .fixed-stepper .flex-row {
    position: fixed !important;
    right: 0;
    z-index: 100001;
    background-color: var(--mud-palette-background-grey);
    top: 1px !important;
    right: 60px;
    width: calc(100% - 400px);
    padding-left: 20px;
    padding-right: 20px;
    margin-top:0px !important;
    margin-right:0px !important;
    margin-left:0px !important;
    height:62px;
}

.fixed-stepper .flex-row {
    /* position: fixed; */
    /* right: 0; */
    /* z-index: 100001; */
    background-color: var(--mud-palette-background-grey);
    /* top: 1px; */
    /* right: 60px; */
    /* width: calc(100% - 400px); */
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -16px;
}

.mud-dialog .mud-dialog-title, .mud-dialog .mud-dialog-title .mud-dialog-actions {
    background-color: var(--mud-palette-background-grey);
}

.fixed-stepper .mud-stepper-header p, th {
    font-family: var(--mud-typography-h6-family);
    letter-spacing: 0.05rem;
}
th {
    font-size:1rem;
}

.fixed-stepper .mud-stepper-header .mud-stepper-header-title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.fixed-stepper .mud-stepper-header .mud-stepper-header-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
}

.fixed-stepper .d-flex:last-of-type .d-flex.gap-4:last-of-type {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100001;
    background-color: var(--mud-palette-background-grey);
    padding: 20px;
}
.mud-primary-text, .mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol, .tox .tox-mbtn, .tox .tox-tbtn, .mce-content-body, .tox .tox-statusbar a, .tox .tox-statusbar__path-item, .tox .tox-statusbar__wordcount {
    color: var(--mud-palette-text-primary) !important;
}
.tox .tox-tbtn svg {
    fill: var(--mud-palette-text-primary) !important;
}
.mud-input.mud-input-underline:after {
    border-bottom: 2px solid var(--mud-palette-text-primary) !important;
}
.tox .tox-statusbar, .tox .tox-edit-area__iframe, .tox:not(.tox-tinymce-inline) .tox-editor-header, .tox .tox-menubar, .tox .tox-toolbar-overlord, .tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    background-color: var(--mud-palette-surface) !important;
}
.tox .tox-tbtn--bespoke {
    background: var(--mud-palette-surface) !important;
}

.tox-tinymce-aux {
    z-index: 13000 !important;
}

.mud-input-root.invalid + div + div  {
    border-color: var(--mud-palette-error) !important; 
}
