@page "/services"
@model Travaloud.Tenants.SharedRCL.Pages.Services.IndexModel
@{
    ViewData["Title"] = "Services";

    <div class="custom-height mt-n5 py-3 py-lg-5 bg-primary-dark">
        <div class="container py-5">
            <div class="row my-4">
                <div class="col-12 has-parallax-scroll">
                    <h1 class="display-4 fw-bold ls-tight text-white">@ViewData["Title"]</h1>
                    <h4 class="mb-0 text-secondary">@($"No matter where you are, {Model.TenantName} has got you covered...")</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-white rounded-6 position-relative pt-3 px-0 custom-mt">
        @Html.DisplayFor(x => x.ServicesCarousel)
    </div>
}

