<div class="p-5 text-center bg-image vh-100" style="margin-top:-81px;">
    <div class="mask">
        <div class="container pt-8 pb-8 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-6">

                    <div class="d-flex justify-content-center align-content-center">
                        <i class="fas fa-desktop mb-5 d-flex justify-content-center align-content-center" style="font-size:5rem"></i>
                        <span class="position-absolute" style="top:12px"></span>
                    </div>
                    <h1 class="display-3 mb-4">Coming Soon</h1>
                    <p></p>
                    <a class="btn btn-primary mt-5" asp-page="/Home/Index">GO HOME</a>
                </div>
            </div>
        </div>
    </div>
</div>
