<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            Scan the following code to complete your payment.
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="d-flex justify-center">
            <MudImage Src="@QrCodeImageUrl" Width="400" Height="400" Alt="Stripe QR Code" Elevation="25" Class="ma-4"/>
        </div>
    </DialogContent>
</MudDialog>