<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            Scan the following code to complete your payment.
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="d-flex justify-center">
            <MudImage Src="@QrCodeImageUrl" Alt="Stripe QR Code" Fluid="true" Elevation="25" Class="ma-4" Style="max-width: 100%; max-height: 400px;"/>
        </div>
    </DialogContent>
</MudDialog>