@page "/privacy-policy"
@model FuseHostelsAndTravel.Pages.PrivacyPolicy.IndexModel

<section id="privacyPolicy" class="bg-light overflow-hidden position-relative">
    <div class="container-fluid">
        <div class="container pt-8 pb-8">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-10 text-start">
                    <h1 class="display-3 mb-4 text-center">PRIVACY POLICY</h1>

                    <p>Last updated: Dec 20th, 2022</p>
                    <h5>
                        Our Commitment
                    </h5>
                    <p>
                        Fuse Hostels and Travel (herein referred to as “Fuse Hostels and Travel”, “we”, “us” or “our”) is dedicated to secure and protect your data privacy rights, and to guarantee that all personal data collected from customers are managed pursuant to the principles of genuine business purpose and transparency to maintain your privacy online.
                    </p>
                    <h5>
                        1. Who are we?
                    </h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <h5>
                        2. What we may collect from you?
                    </h5>
                    <p>
                        We will collect your personal information when you make a booking with us or use Fuse Hostels and Travel websites and mobile applications. Such information may include, among others:
                    </p>
                    <p>
                        Your name;<br />
                        Address;<br />
                        Birthdate;<br />
                        Gender;<br />
                        Contact details (including your email address and telephone/mobile number;<br />
                        Government ID details;<br />
                        Details of your external accounts (Facebook, Twitter, Google);<br />
                        Credit card details via a reputable partner listed on the payment pages<br />
                        Country; and<br />
                        Such other information as we may collect with your consent or as required by law.
                    </p>
                    <h5>3. How we use your information</h5>
                    <p>
                        Approve, facilitate, administer and process your booking;<br />
                        Respond to queries, requests and complaints and improve how we interact with you;<br />
                        Send you statements, billings, notices and other such documents necessary for continued use of our services;<br />
                        Conduct studies and researches for the purpose of reviewing, developing and improving our services;<br />
                        Reach out to you regarding products and services information, including offers, promotions, discounts, rewards;<br />
                        Perform such other activities permitted by law or with your consent;
                    </p>
                    <h5>4. How we may share your information</h5>
                    <p>
                        We may share your personal information to the following:<br />
                        To our subsidiaries, affiliates, branches, related corporations, associates, assignees, agents, commercial partners service providers and/or any other parties engaged by us to enable or assist us in the provision of services;<br />
                        To companies which help us improve our business or third-party service providers which help us deliver services to you;<br />
                        To comply with legal, regulatory, security and processing requirements, national and foreign governmental requirements applicable to us or our affiliates or service providers; and<br />
                        To carry out all other purposes set out above.
                    </p>
                    <h5>
                        5. How long do we keep your information?
                    </h5>
                    <p>
                        Your personal details shall be retained by us until no longer used or useful in serving your requests or booking  and/or until such time as it is no longer necessary to keep your information for any other legal and business purposes.
                    </p>
                    <h5>
                        6. What are the customers’ rights?
                    </h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <p>
                        Please note that if you communicate your objection to our use and/or disclosure of your personal information for the purposes and in the manner as stated above, depending on the nature of your objection, we may not be in a position to continue to provide our services to you or perform on any contract we have with you. Our legal rights and remedies are expressly reserved in such an event.
                    </p>
                    <h5>
                        7. How do we protect your information?
                    </h5>
                    <p>
                        We fully recognize the value of your personal information. Thus, we strive to maintain the confidentiality and integrity of your personal information by employing physical, technological and procedural precautions. We train our employees to properly handle your information. Whenever we engage other companies to provide services for us, we require them to protect personal information aligned with our own security standards.
                    </p>
                    <h5>
                        8. How can I request for my data to be deleted?
                    </h5>
                    <p>
                        As a user, you have a right to have your data deleted, and we have a responsibility to delete your data upon request. You may request this by contacting our customer service team at fusehostelsandtravel.com.
                    </p>
                    <h5>9. How to contact us?</h5>
                    <p>
                        Should you have questions regarding our privacy statement, about how your personal information is used, or about how to exercise your right of access, rectification, or objection under the Data Privacy Laws, you can contact us directly at the business address or e-mail address below:
                    </p>
                    <p>
                        Fuse Hostels and Travel<br />
                        25 Nguyễn Phan Vinh<br />
                        Hội An, Quảng Nam<br />
                        Cẩm An, Vietnam
                    </p>
                    <p> Email: info@fusehostelsandtravel.com</p>
                    <h5>Cookies</h5>
                    <p>Fuse Hostels & Travel uses cookie in our web pages to:</p>
                    <p>
                        Maintain your session and required details during the booking process (session cookie)<br />
                        Collect website and mobile application usage data for statistical/analytic purposes (analytics cookie)<br />
                        Directing you to the correct landing page based on your geo-location (geo-targeting cookie)<br />
                        Provide analytics and user experience data<br />
                        You may instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting a cookie from the websites or application that you visit. Fuse Hostel & Travel website and application may not function properly if cookie setting is disabled. Learn more about cookes.
                    </p>
                </div>
            </div>
        </div>

        @Html.DisplayFor(x => x.OvalContainers)
    </div>
</section>
