@page "/events"
@model FuseHostelsAndTravel.Pages.Events.IndexModel

@section Styles {
    <link rel="stylesheet" href="/css/smallheader.css" type="text/css"/>
}

<section id="headerBanner">
    @Html.DisplayFor(x => x.HeaderBanner)
    <partial name="_NavPillsPartial" model="Model.NavPills" />
</section>

<section id="whats-on" class="pt-8">
    <div class="container">
        <div class="row gx-4">
            @Html.DisplayFor(x => x.EventsCards)
        </div>
    </div>
</section>

<section id="stay-up-to-date">
    <div class="container-fluid bg-gray">
        <div class="container py-5 px-4 px-lg-0 has-parallax-scroll">
            <div class="row justify-content-lg-between align-items-center">
                <div class="col-lg-auto mb-3 mb-lg-0">
                    <div class="row flex-column">
                        <h4 class="tilted mt-2">STAY UP TO DATE</h4>
                    </div>
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <div class="row flex-column">
                        <p class="text-white">
                            Embark on a journey of endless excitement with Fuse Hostels and Travel! Stay up-to-date with our thrilling events by joining us on Facebook. From epic pool parties to unforgettable tours, there's always something happening.
                        </p>
                        <p class="text-white">
                            Prefer a more personal touch? Reach out to us directly using the contact details below. Our team is here to ensure your experience is nothing short of extraordinary.
                        </p>
                    </div>
                </div>
                <div class="col-lg-auto">
                    <div class="row flex-column">
                        <a class="btn btn-primary" href="https://www.facebook.com/fusehostelsandtravel" target="_blank">Head To Facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="Shared/_HostelDetailsPartial" model="Model.Properties" />