@using Travaloud.Application.Basket.Dto
@model Travaloud.Application.Basket.Dto.BasketModel

<div class="additional-guests-container">
    @if (Model is {Items.Count: > 0})
    {
        foreach (var basketItem in Model.Items)
        {
            var itemsWithGuests = Model.Items.Where(x => x.Id != basketItem.Id && x.Guests != null && x.Guests.Any());
            var basketItemModels = itemsWithGuests as BasketItemModel[] ?? itemsWithGuests.ToArray();
            
            var itemsWithDifferentGuests = basketItemModels
                .Where(x => x.Guests != null && x.Guests.Any(guest => basketItem.Guests == null || basketItem.Guests.All(basketGuest => basketGuest.Id != guest.Id)));

            var itemsWithIdenticalGuests = basketItemModels.Any() && itemsWithDifferentGuests.Any();

            var guestsExistInBasket = false;

            if (Model.Items.All(x => x.Guests == null || !x.Guests.Any()))
                guestsExistInBasket = false;
            else if (!basketItemModels.Any())
                guestsExistInBasket = false;
            else if (itemsWithIdenticalGuests)
                guestsExistInBasket = true;
            
            basketItem.GuestsExistInBasket = guestsExistInBasket;

            <partial name="/Pages/Checkout/_AdditionalGuestPartial.cshtml" model="basketItem"/>
        }
    }
</div>