@model FeaturesTableComponent

<div class="container-fluid">
    <div class="container bg-white features-container has-parallax-scroll">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="text-center col-lg-12 mb-n5">
                <h4 class="tilted mb-0 d-inline-block position-relative">@Model.Title
                </h4>
            </div>
        </div>

        @{
            <div class="p-5 p-lg-8">
                <div class="row justify-content-lg-between">
                    @foreach (var featureColumn in Model.FeaturesParsed)
                    {
                        <div class="col-12 col-lg-auto">
                            <div class="row flex-column text-start">
                                @foreach (var feature in featureColumn)
                                {
                                    <p class="mb-0 mb-lg-2"><i class="fa-solid fa-check me-2 text-mustard"></i> @feature</p>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>